/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/VLM_debugger
/m4/
/stamp-h?
.deps/
.dirstamp
*.o
*~
/autoscan.*
/configure.scan
/keyboard.c
/keyboard
/machine
/2machines
/tozeb
/vlm-*.xz

